<%- include('header') %>
    
    <h2>Admin Vagas:
        <a href="/admin/vagas/nova">Nova Vaga</a>
    </h2>

    <div>
        <h3><%- categoria.categoria %> </h3>
        <ul>
            <% vagas.forEach( vaga => { %>})
                <li>
                    <%- vaga.titulo %> | 
                    <a href="/admin/vaga/delete/<%- vaga.id %>">Excluir</a>
                    <a href="/admin/vaga/editar/<%- vaga.id %>">Editar</a>
                </li>
            <% }) %>
        </ul>
    </div>    
  
<%- include('footer') %> 
